@use 'variaveis';

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    &__ctner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border: solid 3px #000;
        border-radius: 7px;
        background-color: #F4F4F4;
        width: 80%;

        &__form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 3rem;
            border: solid 3px #FFA600;
            border-radius: 7px;
            width: 100%;
            background-color: #333;

            img {
                width: 10rem;
                margin: 2rem;
            }

            &__item1 {
                display: grid;
                grid-template-columns: 2fr 1fr;
                gap: 2%;
                width: 100%;
            }

            &__item2 {
                display: grid;
                grid-template-columns: 5fr 1fr 2fr;
                gap: 2%;
                width: 100%;
            }

            &__item2 {
                display: grid;
                grid-template-columns: 5fr 1fr 2fr;
                gap: 2%;
                width: 100%;
            }

            &__item3 {
                display: grid;
                grid-template-columns: 4fr 2fr 1fr;
                gap: 2%;
                width: 100%;
            }

            input {
                width: 100%;
                margin-bottom: 1rem;
                padding: .5rem;
                border: solid 2px #FFA600;
                border-radius: 7px;
                outline: none;
            }

            button {
                padding: .5rem;
                border: none;
                border-radius: 7px;
                width: 20rem;
                font-weight: bold;
                background-color: #FFA600;
                color: #000;

                &:hover {
                    background-color: #F4F4F4;
                    color: #FFA600;
                }
            }
        }
    }
}