@use 'variaveis';

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__ctner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border: solid 3px #000;
        border-radius: 7px;
        background-color: variaveis.$corFundo;

        img {
            width: 10rem;
            margin: 2rem;
        }
        
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 3rem;
            border: solid 3px variaveis.$corSecundaria;
            border-radius: 7px;
            background-color: #333;
            
            input {
                margin-bottom: 1rem;
                padding: .5rem;
                border: solid 2px variaveis.$corSecundaria;
                border-radius: 7px;
                width: 20rem;
                outline: none;
            }
            
            button {
                margin-bottom: 1rem;
                padding: .5rem;
                border: none;
                border-radius: 7px;
                width: 20rem;
                font-weight: bold;
                background-color: variaveis.$corSecundaria;
                color: #000;
                
                &:hover {
                    background-color: variaveis.$corFundo;
                    color: variaveis.$corSecundaria;
                }
            }
            
            a {
                padding: .5rem;
                border: none;
                border-radius: 7px;
                width: 20rem;
                text-align: center;
                text-decoration: none;
                font-weight: bold;
                background-color: variaveis.$corSecundaria;
                color: #000;
                
                &:hover {
                    background-color: variaveis.$corFundo;
                    color: variaveis.$corSecundaria;
                }
            }
        }
    }
}